
.paymentBox{
    display: flex;
    width: 100%;

    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}
.error{
    color:tomato;
    font-size: 12px;
}
.errorInput{
    border: 1px solid tomato;
}
.materialBtn{
    padding: 5px;
    border: 1px solid tomato;
    cursor: pointer;
}
.panelPlitka{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;


}
.panelPlitka svg{
    fill: tomato;
    font-size: 2rem;
}
.panelPlitka svg:hover{
    opacity: 0.8;
    transition: opacity .2s;
}
.title{
    font-size: 35px;
    text-transform: uppercase;
    color: tomato;
    text-align: center;
    margin-bottom: 20px;
}
.accordion{
    display: flex;

}
.materials{
    border:1px solid #e7e7e7;

}
.infoMaterials{
    font-size: 12px;
    color: green;
    margin-left: 5px;
    min-height: 18px;

}
.buttonMaterials{
    color: green !important;
}
.buttonMaterialsDelete{
    color: tomato !important;
}
.css-1d5w0op{
 position: initial !important;
}
button.buttonMaterials:disabled{
    color: gray!important;
    opacity: 0.8;
}
.topBar{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.materialsPanel{
    /*margin-bottom: 15px;*/
}
p.materialTitle {
    width: 100%;
}



@media screen and (min-width: 590px) {
    .materialsPanel {
        position: absolute;
        right: 0;
        z-index: 2;
        margin-bottom: 0;
    }
    .topBar{
        flex-direction: row;
    }
}
