
.paymentBox {
    display: flex;
    width: 100%;

    flex-direction: column;
    justify-content: space-between;
    min-height: 75%;
}

.error {
    color: tomato;
    font-size: 12px;
}

.errorInput {
    border: 1px solid tomato;
}

.materialBtn {
    padding: 5px;
    border: 1px solid tomato;
    cursor: pointer;
}

.panelPlitka {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.panelPlitkaCustom {
    display: flex;
    padding-top: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.panelPlitkaCustomInputs{
    display: flex;
    gap: 15px;
    alignItems: center;
    justify-content: space-between;

    flex-direction: column;


}

.result {
    max-width: 200px;
    /*display: flex;*/
    align-items: center;
    padding: 5px 0 10px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
}
.resultItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.resultNum {
    padding: 0px 5px;
    background: tomato;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-left: 5px;
}
.resultItem.greenItem{
    background: #32e5a4;
}

.panelPlitka svg {
    fill: tomato;
    font-size: 2rem;
}

.panelPlitka svg:hover {
    opacity: 0.8;
    transition: opacity .2s;
}

.title {
    font-size: 35px;
    text-transform: uppercase;
    color: tomato;
    text-align: center;
    margin-bottom: 20px;
}

.accordion {
    display: flex;

}

.materials {
    border: 1px solid #e7e7e7;

}

.infoMaterials {
    font-size: 12px;
    color: green;
    margin-left: 5px;

}

.infoPanel {
    min-height: 18px;

}

.buttonMaterials {
    color: green !important;
}

.buttonMaterialsDelete {
    color: tomato !important;
}

.css-1d5w0op {
    position: initial !important;
}

button.buttonMaterials:disabled {
    color: gray !important;
    opacity: 0.8;
}

.topBar {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.materialsPanel {
    margin-bottom: 10px;
}

p.materialTitle {
    width: 100%;
}

.moreBtnMenu {
    background: rgba(220, 220, 220, 0.71);
}

.warningTitle {
    color: tomato;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 10px;
}


@media screen and (min-width: 590px) {
    .materialsPanel {
        position: absolute;
        right: 0;
        z-index: 3;
        margin-bottom: 0;
    }

    .topBar {
        flex-direction: row;
    }
}
.panelPlitkaInputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.panelButtons{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
th{
    background-color: #32e5a4 !important;
}

@media screen and (min-width: 400px) {
    .panelPlitkaInputs {
        flex-direction: row;
    }

    .panelButtons{
        justify-content: start;
    }

}
@media screen and (min-width: 565px) {

    .panelPlitkaCustomInputs{
        flex-direction: row;
        align-items: center;
    }

}
